/*designning the body of the project*/
body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
        url("https://images.unsplash.com/photo-1500740516770-92bd004b996e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.weather-app {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#weather-result {
    margin-top: 15px;
}
